.body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.page__container {
  position: relative;
  max-width: 1112px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: rgba(0, 0, 0, .5); */
}

.header {
  background-image: url('../images/header_bg.jpg');
  background-repeat: no-repeat;
  background-size:  cover;
  background-position: top center;
  display: flex;
  justify-content: center;
  color: #fff;
  padding-bottom: 85px;
}

.header__circle {
  width: 100%;
  position: relative;
  margin: 0 auto;
  width: 487px;
  height: 450px;
  background-image: url(../images/header_circle.png);
  background-repeat: no-repeat;
  background-position: 0 -12px;
  background-size: cover;
}

.header__date {
  position: absolute;
  font-style: normal;
  font-weight: bold;
  font-size: 110px;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  top: 126px;
  left: 181px;
}

.header__text {
  position: absolute;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 46px;
  text-align: center;
  margin: 0;
  top: 228px;
  left: 190px;

}

.header__time {
  position: absolute;
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 1.15;
  top: 263px;
  left: 191px;
}

.header__subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  margin: 0px 0 88px 0;

}

.header__title {
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 0 38px 0;
}

.header__btn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 267px;
  height: 56px;
  border-radius: 44px;
  background: rgba(255, 255, 255, 0.55);
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 1.2;
  color: #000657;
  text-decoration: none;
}

.header__btn:hover {
  opacity: .8;
  transition: opacity .3s ease-out;
}

.useful {
  background-image: url('../images/recognize_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.useful__title {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 1.5;
  text-align: center;
  color: #000000;
  margin: 0 0 90px 0;
}

.useful__items {
  max-width: 654px;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: auto;
  padding: 0;
}

.useful__item {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}

.useful__item:last-of-type {
  margin-right: 0;
}

.useful__img {
  display: block;
  margin: auto;
  height: 113px;
}

.useful__text {
  max-width: 363px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #000000;
  margin: 0;
  margin: 65px 0 0 0;
}

.expert {
  background-image: url('../images/expert_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items:  center;
}

.expert__title {
  margin: 0 0 32px 0;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 1.2;
  color: #fff;
}

.expert__img {
  margin: 0 auto 32px auto;
  display: block;
  width: 115px;
}

.expert__subtitle {
  max-width: 545px;
  margin: 0 auto 59px auto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
}

.expert__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 267px;
  height: 56px;
  color: #000657;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 1.2;
  background: #A7AEEA;
  border-radius: 44px;
  text-decoration: none;
}

.expert__btn:hover {
  opacity: .8;
  transition: opacity .3s ease-out;
}

.recognize {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.recognize__title {
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 1.2;
  text-align: center;
  color: #000000;
  margin: 0 0 90px 0;
}

.recognize__items {
  max-width: 950px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 0;
  margin: auto;
  position: relative;
  flex-wrap: wrap;
}

.recognize__item {
  max-width: 250px;
  list-style-type: none;
  display: flex;
  justify-content: baseline;
  align-items: center;
  margin-bottom: 59px;
  flex-direction: column;
}

.recognize__item:nth-child(n+3) {
  margin-bottom: 0;
}

.recognize__type {
  width: 86px;
  height: 87px;
  background-image: url(../images/list_style.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.recognize__text {
  word-wrap: break-word;
  max-width: 367px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  margin: 48px 0 0 0;
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  background-image: url(../images/info_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 90px 0px;
}

.info__items {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin: 0;
  padding: 0;
}

.info__item {

  color: rgb(255, 255, 255);
  max-width: 230px;
  width: 100%;
  text-align: center;
}

.info__title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.2;
  text-align: center;
  margin: 0px;
}

.info__text {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  margin: 50px 0 0 0px;
}

.info__line {
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.6);
  margin: 58px 0 87px 0;
}

.registration {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../images/ragistrarion__bg.jpg);
  background-repeat: no-repeat;
  background-position: center -24px;
  background-size: cover;
  padding: 157px 0 50px 0;
}

.registration__anchor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 266px;
  height: 56px;
  background: #A8AEEA;
  border-radius: 44px;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 1.2;
  color: #000657;
  text-decoration: none;
}

.registration__anchor:hover {
  opacity: .8;
  transition: opacity .3s ease-out;
}

.registration__arrow {
  width: 112px;
  height: 45px;
  margin: 0 auto;
  background-image: url(../images/arrow.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 100px;
  margin-bottom: 243px;
}

.registration__title {
  margin: 0 auto 57px auto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 57px;
}

.registration__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.registration__input {
  max-width: 589px;
  width: 100%;
  margin: 0 0 30px 0;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 61.5px;
  outline: none;
  background: transparent;
  height: 55px;
  padding-left: 18px;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 1);
  box-sizing: box-sizing;
}

.registration__label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 589px;
  width: 100%;
  padding-bottom: 15px;
  margin: 0 auto;
}

.registration__label:last-of-type {
  padding-bottom: 72px;
}

.checkbox__link {
 text-decoration: none;
 color: rgba(255, 255, 255, 0.65);
}

.checkbox__link:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
 }

.registration__input_el_agree {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.checkbox__visible {
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 26px;
  border: 1.5px solid #FFFFFF;
  border-radius: 5px;
  margin-right: 10px;
}

.registration__input_el_agree:checked + .checkbox__visible {
  background-image: url(../images/checked.svg);
  background-repeat: no-repeat;
  background-size: 13px 14px;
  background-position: center;
}
.checkbox__text {
  display: block;
  color: rgba(255, 255, 255, 0.65);
  font-size: 19px;
  line-height: 1.2;
}

.registration__textarea {
  max-width: 589px;
  width: 100%;
  margin: 0 0 30px 0;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 61.5px;
  outline: none;
  background: transparent;
  height: 55px;
  padding-left: 18px;
  padding-right: 18px;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 1);
  overflow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  resize: none;
  padding-top: 15px;
}

.registration__input::placeholder {
  margin: 44px 36px;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.65);
  display: flex;
  align-items: baseline;
  word-wrap: break-word;
}

.registration__textarea::placeholder {
  margin: 44px 36px;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.65);
  display: flex;
  white-space: nowrap;
  padding-top: -5px;
}

.registration__input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.registration__textarea:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.registration__btn {
  outline: 0;
  border: 0;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 1.2;
  text-align: center;
  color: #000657;
  width: 266px;
  height: 56px;
  background: rgba(255, 255, 255, 0.55);
  border-radius: 44px;
}

.registration__btn:hover {
  opacity: .8;
  transition: opacity .3s ease-out;
}

.registration__input_type_req {
  background-image: url(../images/_.svg);
  background-repeat: no-repeat;
  background-position: 561px 11px;
  background-size: 11px;
}

@media screen and (max-width: 1024px) {
  .page__container {
    max-width: 730px;
  }

  .header__circle {
    width: 367px;
    height: 337px;
  }

  .header__date {
    font-size: 76px;
    top: 96px;
    left: 141px;
  }

  .header__text {
    font-size: 20px;
    top: 163px;
    left: 139px;
  }

  .header__time {
    font-size: 34px;
    top: 196px;
    left: 142px;
  }

  .header__title {
    font-size: 25px;
    margin-bottom: 29px;
  }

  .header__subtitle {
    font-size: 35px;
    margin-bottom: 71px;
  }

  .header__btn {
    width: 202px;
    height: 41px;
    font-size: 18px;
  }

  .useful__title {
    font-size: 32px;
    margin-bottom: 44px;
  }

  .useful__img {
    height: 85px;
  }

  .useful__text {
    font-size: 18px;
    margin-top: 48px;
  }

  .expert {
    padding: 72px 0;
  }

  .expert__title {
    font-size: 32px;
    margin-bottom: 28px;
  }

  .expert_img {
    width: 88px;
    margin-bottom: 28px;
  }

  .expert__subtitle {
    font-size: 23px;
    margin-bottom: 44px;
  }

  .expert__btn {
    width: 202px;
    height: 42px;
    font-size: 18px;
  }

  .recognize {
    padding: 76px 0;
  }

  .recognize__title {
    font-size: 32px;
    margin-bottom: 64px;
  }

  .recognize__item {
    max-width: 250px;
  }

  .recognize__type {
    width: 65px;
    height: 67px;
  }

  .recognize__text {
    font-size: 18px;
  }

  .info {
    padding: 68px 0;
  }

  .info__item {
    max-width: 180px;
  }

  .info__title {
    font-size: 16px;
  }

  .info__text {
    font-size: 18px;
    margin-top: 33px;
  }

  .info__line {
    margin: 65px 0;
  }

  .registration {
    padding: 118px 0 37px 0;
    background-position: inherit;
  }

  .registration__anchor {
    width: 202px;
    height: 41px;
    font-size: 18px;
  }

  .registration__arrow {
    width: 86px;
    height: 34px;
    margin-bottom: 121px;
  }

  .registration__btn {
    width: 203px;
    height: 42px;
    font-size: 18px;
  }

  .registration__input {
    width: 443px;
    height: 41px;
    margin-bottom: 22px;
    font-size: 14px;
  }

  .registration__label {
    width: 443px;
  }

  .registration__input::placeholder {
    font-size: 14px;
  }

  .registration__input_type_req {
    background-position: 420px 5px;
    background-size: 8px;
  }

  .registration__textarea {
    width: 443px;
    height: 41px;
    margin-bottom: 22px;
    font-size: 14px;
    padding-top: 10px;
  }

  .registration__textarea::placeholder {
    font-size: 14px;
    padding-top: -15px;
  }

  .registration__textarea_type_req {
    background-position: 420px 5px;
    background-size: 8px;
  }

  .checkbox__text {
    max-width: 443px;
    font-size: 14px;
  }
}


@media screen and (max-width: 425px) {

  .page__width {
    width: 100%;
  }

  .header__circle {
    width: 310px;
    height: 288px;
  }

  .header__date {
    top: 74px;
    font-size: 72px;
    left: 116px;
  }

  .header__text {
    top: 135px;
    left: 116px;
    font-size: 18px;
  }

  .header__time {
    font-size: 32px;
    top: 167px;
    left: 117px;
  }

  .header__title {
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 45px;
  }

  .header__subtitle {
    margin: 0 auto;
    max-width: 333px;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 74px;
  }

  .useful {
    padding: 88px 0;
  }
  .useful__items {
    flex-wrap: wrap;
    justify-content: center;
  }

  .useful__item:last-child {
    margin-top: 72px;
  }

  .expert {
    background-image: url(../images/expert_bg_s.jpg);
  }

  .recognize__items {
    justify-content: center;
  }

  .recognize__item:nth-child(n+1) {
    margin-bottom: 42px;
  }

  .recognize__text {
    margin-top: 18px;
  }

  .info {
    background-image: url(../images/info_bg_s.jpg);
  }

  .info__line {
    display: none;
  }

  .info__items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info__item {
    max-width: 220px;
    padding-bottom: 37px;
    margin-bottom: 33px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  }

  .registration {
    padding: 78px 0 113px 0;
    background-position: center 245px;
  }

  .registration__input {
    width: 275px;
    height: 49px;
  }

  .registration__textarea{
    width: 275px;
    height: 72px;
    padding-top: 6px;
  }

  .registration__textarea::placeholder{
    white-space: pre-line;
    padding-top: -3px;

  }

  .registration__input_type_req {
    background-position: 251px 10px;
  }

  .registration__title {
    font-size: 24px;
    max-width: 200px;
  }

  .checkbox__visible {
    width: 37px;
    height: 37px;
  }

  .checkbox__text {
    max-width: 224px;
    font-size: 14px;
}

  .registration__input_el_agree:checked + .checkbox__visible {
    background-image: url(../images/checked.svg);
    background-repeat: no-repeat;
    background-size: 18px 19px;
    background-position: center;
  }

  .registration__label {
    max-width: 275px;
  }

}
